*{
	font-family: sans-serif;
}

body {
	min-width: 400px;
	display: block;
	height: 100%;
    margin: 0;
    padding: 0;
	justify-content: center;
	align-items: center;
	background-color: black;
}
#body-div {
	margin-left: 250px;
	width: 1400px;
	min-height: 1080px;
	justify-self: center;
	align-items: center;
	background-color: #002b47;
}

div {
    flex-shrink: 0;
    box-sizing: border-box;
}


#header-b {
	display: flex;
	
    padding-left: 90px;

	justify-content: space-evenly;
	width: auto;
}

.bg1f2 {
	background-color: #1f2937!important;
}

nav {
	display: flex;
	min-height: 48px;
	justify-content: space-between;
	align-items: center;
	
    margin-left: 200px;

}

.ht {
	display: flex;
	min-height: 48px;
	margin: 0;
	padding-left: 100px;
    margin-right: 250px;
	color: #f9faf8;
	align-items: center;
	font-size: 24px;

}

.links {
	
    padding-right: 150px;

}

#header-b a {

	font-size: 18px;
	color: #f9faf8;
	padding-right: 12px;
	text-decoration: none;
	font-weight: 0;
}


#H-body {
	display: flex;
	min-height: 200px;
	height: 500px; 	
	align-items: center;
	justify-content: center;
}

h2 {
	margin: 0;
	padding-top: 25px;
    margin-bottom: 25px;
	height: 0;
	font-size: 48px;
	color: #f9faf8;
	font-weight: bolder;
	grid-area: header;
}

.p1{
	margin: 0;
	height: 0;
	grid-area: footer;
}

#H-body p {
	font-size: 18px;
	color: #f9faf8;
}

button{
	color: #f9faf8;
	width: 120px;
    height: 36px;
	border-radius: 9px;
	border: 2px solid #3882f6 ;
	background-color: #3882f6;
	font-weight: bolder;
	font-size: 17px;
}

#bt1 {
	grid-area: button;

}

.grid-div-hb{
	margin-left: 100px;
	max-width: 325px;
	height: 250px;
	display: grid;
	
    margin-left: 180px;
    margin-bottom: 80px;

	grid-template-columns: 100px 100px 100px 100px 10px;
	grid-template-rows: auto;
	grid-template-areas: 
	"header header header header"
	"header header header header"
	"footer footer footer footer"
	"footer footer footer footer"
	"button button . .";
	
	align-content: space-between;
}

.img-h-body {
	border-radius: 2px;
	border: 2px solid #676b7c;
	display: flex;
	margin-top: 0px;
	margin-left: auto;
    margin-right: 250px;
	margin-bottom: 46px;
    height: 245px;
    width: 500px;
	padding-right: 20px;
	justify-content: center;
	align-self: center;
	background: #676b7c;
}

.p2 {
	align-self: center;
	justify-self: center;
}

#white_box{
	display: flex;
	background-color: #f9faf8;
}

.body1 {
	display: grid;
	height: 450px;
	justify-content: center;
	align-items: center;
}

h3 {
	justify-self: auto;
}

#body2 {
	display: flex;
	height: 450px;
	background-color: #e5e7eb;
}

#body3 {
	height: 400px;
}